*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #000;
}


section{
  height: 100vh;
  display: grid;
  place-items: center;
  gap:2rem;
  color: #fff;
}

.parent{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
}

.container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

form{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

input{
  font-size: 1.8rem;
  width: 100%;
  border:.1rem solid blue;
}

::placeholder{
  color: #000;
}

h3{
  font-size: 3.6rem;
}

p{
  font-size: 1.8rem;
}